.content-homepage {
    position: absolute;
    top: 40.6%;
    color: white;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: "Judson", serif;
    background-color: rgba(0, 0, 0, 0.7);
    width: 100%;
    height: 880px;
}

.content-homepage h1 {
    font-size: 2.5rem;
    padding-bottom: 20px;
    padding-top: 300px;
    font-weight: 400;
}

.content-homepage p {
    position: absolute;
    left: 50%;
    transform: translate(-50%,-50%);
    font-size: 1rem;
    width: 32%;
    font-family: "Lato", sans-serif;
}
