.container {
  max-width: 124rem;
  margin: 0 auto;
 
}
.container img{
  width: 100%;
  z-index: -1;
  height: 990px;
  object-fit: cover;
}

.heading {
  padding: 1rem 0;
  font-size: 3.5rem;
  text-align: center;
}

.swiper_container {
  height: 58rem;
  padding: 2rem 0;
  position: absolute;
  top: 0%;
  width: 100%;
  z-index: 2;
  background-color: rgba(0, 0, 0, 0.7);
}

.swiper-slide {
  width: 37rem;
  height: 42rem;
  position: relative;
}

@media (max-width: 500px) {
  .swiper_container {
    height: 47rem;
  }
  .swiper-slide {
    width: 28rem !important;
    height: 36rem !important;
  }
  .swiper-slide img {
    width: 28rem !important;
    height: 36rem !important;
  }
}

.swiper-slide img {
  width: 47rem;
  height: 42rem;
  border-radius: 2rem;
  object-fit: cover;
  position: absolute;
  right: 50%;
  top: 35%;
}

.swiper-slide-shadow-left,
.swiper-slide-shadow-right {
  display: none;
}



