.room {
    position: relative;
    font-family: "Judson", serif;
}

.baner-room {
    position: absolute;
    width: 100%;
    height: 540px;
    top: 13.8%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    background-color: rgba(0, 0, 0, 0.5);
}

.baner-room h1 {
    padding-top: 200px;
}

.baner-room p {
    width: 40%;
    padding-left: 550px;
}

.article {
    width: 100%;
    margin-top: 50px;
    height: 500px;
    width: 70%;
    padding-left: 280px;
    cursor: pointer;
}

.article h2 {
    color: #A7722F;
    font-weight: 400;
    font-size: 2rem;
}

.iteam-acticle-room {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 16px;
}

.item-card-articleroom {
    flex-wrap: wrap;
    align-items: center;
    margin: 10px;
    flex-direction: column;
    text-align: start;
    flex: 1 1 calc(25% - 10px);
    border: 1px solid #ccc;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
}


.item-card-articleroom img {
    width: 100%;
}

.item-card-articleroom h2{
    font-size: small;
    position: absolute;
    background-color: #DBA765;
    font-weight: 300;
    padding: 5px;
    top: 85.2%;
    color: white;
}

.text-card-articleroom {
    padding: 0 0 0 10px;
}

.text-card-articleroom p {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 90%;
    font-size: 0.85rem;
    -webkit-line-clamp: 3;

}
.text-card-articleroom h3{
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: 1;
}
.text-card-articleroom h3:hover{
    text-decoration: underline;
}